[safe]
	directory = *
[user]
	email = roland.dillon7676@gmail.com
	name = Roland Dillon
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[pull]
	rebase = false
